@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-image: url("../images/Background.png");
    font-family: "Nunito";
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* Custom styling for the panel */

.custom-panel-wrapper {
    border: 4px solid white; /* Outer border (larger) */
    border-radius: 20px; /* Rounded corners for outer border */
}

.custom-panel {
    border: 2px solid black; /* Thicker pure black border */
    border-radius: 15px; /* Rounded corners */
    background-color: #F7DE88;
}

/* Add border to buttons */
.btn {
    border: 2px solid white; /* Add a border to the button */
    border-radius: 10px; /* Rounded corners for buttons */
}