@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-image: url("../images/Background.png");
    font-family: "Nunito";
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* Custom styling for the panel */

.custom-panel-wrapper {
    border: 4px solid white;
    border-radius: 20px;
}

.custom-panel {
    border: 2px solid black;
    border-radius: 15px;
    background-color: #F7DE88;
}

/* Add border to buttons */
.btn {
    border: 2px solid white;
    border-radius: 10px;
}

/* Styling to allow vertical centering in the Dashboard */

html, body {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.text-center, .custom-panel-wrapper {
    /* This ensures the first two elements stay at the top */
    width: 100%;
}

.vertical-center {
    /* This makes the div take up remaining space and centers it vertically */
    flex-grow: 1; /* It will grow to fill the remaining space */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Event log styling */

.event-log {
    width: 100%;
    height: 100px;
    padding: 0px 8px;
    border: 2px solid #000;
    overflow-y: auto; /* Enable vertical scrolling */
    white-space: pre-wrap; /* Ensure line breaks are preserved */
    text-align: left;
    background-color: #f4f4f4;
    color: #000;
}

/* Buzzlings table styling */

.table-container {
    max-height: 300px;
    overflow-y: auto;
    border: 2px solid #000;
    background-color: #fff;
}

.fixed-table {
    width: 100%;
    background-color: #212529;
    text-align: center;
    font-size: 14px;
}

.fixed-table th {
    padding: 5px 10px;
    color: #fff;
    background-color: #212529;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 1;
}

.fixed-table td {
    padding: 5px 10px;
}

.fixed-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.fixed-table tr:nth-child(odd) {
    background-color: #ffffff;
}