@{
    List<SelectListItem>? rolesSelectList = ViewData["RolesSelectList"] as List<SelectListItem>;
}

@model DashboardViewModel

<div class="custom-panel-wrapper mt-2">
    <div class="card custom-panel" style="width: 100%;">
        <div class="card-body p-1">
            <b>Create buzzling</b>
        </div>
    </div>
</div>
<div class="custom-panel-wrapper mt-2">
    <div class="card custom-panel" style="width: 100%;">
        <div class="card-body p-3">
            <form method="post" asp-controller="Dashboard" asp-action="CreateBuzzling">
                @Html.AntiForgeryToken() <!-- CSRF protection -->
                <div class="mb-3 d-flex justify-content-between">
                    <div style="width: 48%;">
                        <label asp-for="BuzzlingName" class="form-label"><b>Name</b></label>
                        <input asp-for="BuzzlingName" type="text" class="form-control" id="buzzlingname" placeholder="Enter the buzzling name" />
                        <span asp-validation-for="BuzzlingName" class="text-danger"></span>
                    </div>
                    <div style="width: 48%;">
                        <label asp-for="BuzzlingRole" class="form-label"><b>Role</b></label>
                        <select asp-for="BuzzlingRole" class="form-select">
                            @foreach (var role in rolesSelectList)
                            {
                                <option value="@role.Value">@role.Text</option>
                            }
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-dark">Create</button>
            </form>
        </div>
    </div>
</div>