@using Microsoft.AspNetCore.Mvc.ModelBinding
@{
    ViewData["Title"] = "Buzzlings - Account";
}

@model Buzzlings.Web.Models.UpdatePasswordViewModel

@Html.AntiForgeryToken() <!-- CSRF protection -->

<div class="container-fluid d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="text-center">
        <div class="custom-panel-wrapper mt-2" style="max-width: 400px; width: 100%; margin: auto;">
            <div class="card custom-panel" style="width: 100%;">
                <div class="card-body p-1">
                    <b>Change password</b>
                </div>
            </div>
        </div>
        <div class="custom-panel-wrapper mt-2" style="max-width: 400px; width: 100%; margin: auto;">
            <div class="card custom-panel" style="max-width: 400px; width: 100%; margin: auto;">
                <div class="card-body p-3">
                    <form method="post" asp-controller="Account" asp-action="ChangePassword">
                        <div class="mb-3">
                            <label asp-for="CurrentPassword" class="form-label"><b>Current password</b></label>
                            <div class="input-group">
                                <input asp-for="CurrentPassword" type="password" class="form-control js-password" placeholder="Enter your current password" />
                                <button class="btn btn-dark js-togglePassword" type="button">
                                    <i class="bi bi-eye-slash js-toggleIcon"></i> <!-- Initially, show "eye-slash" -->
                                </button>
                            </div>
                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="NewPassword" class="form-label"><b>New password</b></label>
                            <div class="input-group">
                                <input asp-for="NewPassword" type="password" class="form-control js-password" placeholder="Enter your new password" />
                                <button class="btn btn-dark js-togglePassword" type="button">
                                    <i class="bi bi-eye-slash js-toggleIcon"></i> <!-- Initially, show "eye-slash" -->
                                </button>
                            </div>
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            @if (ViewData.ModelState.ContainsKey("InvalidRegistrationAttempt"))
                            {
                                @foreach (ModelError errorMessage in ViewData.ModelState["InvalidRegistrationAttempt"]!.Errors)
                                {
                                    <p><span class="text-danger">@errorMessage.ErrorMessage</span></p>
                                }
                            }
                        </div>
                        <button type="submit" class="btn btn-dark">Update</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="custom-panel-wrapper mt-2" style="max-width: 400px; width: 100%; margin: auto;">
            <div class="card custom-panel" style="width: 100%;">
                <div class="card-body p-1">
                    <a asp-controller="Account" asp-action="Back" class="btn btn-dark w-48">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_PasswordVisibilityPartial" />
    }
}