@{
    SelectList? rolesSelectList = ViewData["RolesSelectList"] as SelectList;
}

@model DashboardViewModel

<div class="custom-panel-wrapper mt-2">
    <div class="card custom-panel" style="width: 100%;">
        <div class="card-body p-1">
            <b>Update buzzling</b>
        </div>
    </div>
</div>
<div class="custom-panel-wrapper mt-2">
    <div class="card custom-panel" style="width: 100%;">
        <div class="card-body p-3">
            <form method="post" asp-controller="Dashboard" asp-action="UpdateBuzzling">
                <div class="mb-3 d-flex justify-content-between">
                    <div style="width: 48%;">
                        <label asp-for="BuzzlingName" class="form-label"><b>Name</b></label>
                        <input asp-for="BuzzlingName" type="text" class="form-control" id="buzzlingname" placeholder="Enter the buzzling name" />
                        <span asp-validation-for="BuzzlingName" class="text-danger"></span>
                    </div>
                    <div style="width: 48%;">
                        <label asp-for="BuzzlingRole" class="form-label"><b>Role</b></label>
                        <select asp-for="BuzzlingRole" class="form-select">
                            @foreach (var role in rolesSelectList!)
                            {
                                <option value="@role.Value">@role.Text</option>
                            }
                        </select>
                    </div>
                </div>
                <!--
                    When your method accepts a complex object, the binder looks at the Form Body
                    to fill the properties. It does not automatically look at the URL to fill
                    properties inside a complex object. That's why using asp-route-id here is not
                    enough - we need a hidden input field (the method expects a DashboardViewModel only).
                    I could remove this hidden input if I placed an int id parameter in the UpdateBuzzling
                    POST method, but then I'd also need to place it into the DashboardVM inside the method
                    anyway, since if validation fails, I just return a View with a DashboardVM object,
                    not an id...but then I'd be able to just use asp-route-id
                -->
                <input type="hidden" asp-for="BuzzlingId" />
                <button type="submit" class="btn btn-dark">Update</button>
                <a asp-controller="Dashboard" asp-action="Index" class="btn btn-dark w-48">Cancel</a>
            </form>
        </div>
    </div>
</div>